<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Contact Us | STOCKZONE </title>
  <link rel="stylesheet" href="css/about.css">
  <!-- Fontawesome CDN Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <nav class="nav">
    <div class="navbar">
        <div class="logo"><img src="img/logo.png" width="340"></div>
            <ul class="nav-list">
                <li><a href="home"><i class="fa fa-fw fa-home"></i> Home</a></li>
                <li><a href="stock"><i class="fa fa-fw fa-inr"></i> Discover</a></li>
                <li><a href="search"><i class="fa fa-fw fa-search"></i> Search</a></li>
                <li><a class="active" href="about"><i class="fa fa-fw fa-envelope"></i> Contact</a></li>
                <li><a href="login"><i class="fa fa-fw fa-user"></i> Login</a></li>
            </ul>
    </div>
  </nav>
  <br>
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Pes University, EC Campus</div>
          <div class="text-two">Electronic City, 06</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+0098 9893 5647</div>
          <div class="text-two">+0096 3434 5678</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">stockzone8@gmail.com</div>
          <div class="text-two">info.stockzone3@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>If you have any queries related to our web analyser, you can send us message from here. It's our pleasure to
          help you.</p>
        <form action="#">
          <div class="input-box">
            <input type="text" placeholder="Enter your name">
          </div>
          <div class="input-box">
            <input type="text" placeholder="Enter your email">
          </div>
          <div class="input-box message-box">
            <textarea placeholder="Enter your message"></textarea>
          </div>
          <div class="button">
            <input type="button" value="Send Now">
          </div>
        </form>
      </div>
    </div>
  </div>

</body>

</html>