<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Login | STOCKZONE </title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <nav class="nav">
      <div class="navbar">
          <div class="logo"><img src="img/logo.png" width="340"></div>
              <ul class="nav-list">
                  <li><a href="home"><i class="fa fa-fw fa-home"></i> Home</a></li>
                  <li><a href="discover"><i class="fa fa-fw fa-inr"></i> Discover</a></li>
                  <li><a href="search"><i class="fa fa-fw fa-search"></i> Search</a></li>
                  <li><a href="about"><i class="fa fa-fw fa-envelope"></i> Contact</a></li>
                  <li><a class="active" href="login"><i class="fa fa-fw fa-user"></i> Login</a></li>
              </ul>
      </div>
    </nav>
    <br>

    <div class="container">
      <form action="#">
        <div class="title">Login</div>
        <div class="input-box underline">
          <input type="text" class="email-id" placeholder="Enter Your Email" required>
          <div class="underline"></div>
        </div>
        <div class="input-box">
          <input type="password" class="passwd" placeholder="Enter Your Password" required>
          <div class="underline"></div>
        </div>
        <div class="input-box button">
          <input id="login-submit" type="button" name="" value="Sign in">
        </div>
        <div class="input-box button2">
          <input id="signup-submit" type="button" name="" value="Sign up">
        </div>
      </form>
    </div>
  </body>
  <script src="js/login.js"></script>
</html>
